# Assignment I

### Importing libraries

In [1]:
import numpy as np
import pandas as pd

### Load Data & Create DateFrame

In [2]:
df = pd.read_csv('reg_pbp_2009.csv', low_memory=False)

## 44.5 k of records , are you kidding me !!!
df

,play_id,game_id,home_team,away_team,posteam,posteam_type,defteam,side_of_field,yardline_100,game_date,...,penalty_player_id,penalty_player_name,penalty_yards,replay_or_challenge,replay_or_challenge_result,penalty_type,defensive_two_point_attempt,defensive_two_point_conv,defensive_extra_point_attempt,defensive_extra_point_conv
0,46,2009091000,PIT,TEN,PIT,home,TEN,TEN,30.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
1,68,2009091000,PIT,TEN,PIT,home,TEN,PIT,58.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
2,92,2009091000,PIT,TEN,PIT,home,TEN,PIT,53.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
3,113,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
4,139,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44591,3669,2010010308,NYJ,CIN,CIN,away,NYJ,NYJ,26.0,2010-01-03,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
44592,3704,2010010308,NYJ,CIN,NYJ,home,CIN,CIN,28.0,2010-01-03,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
44593,3725,2010010308,NYJ,CIN,NYJ,home,CIN,CIN,29.0,2010-01-03,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
44594,3747,2010010308,NYJ,CIN,NYJ,home,CIN,CIN,30.0,2010-01-03,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
44595,3768,2010010308,NYJ,CIN,NaN,NaN,NaN,CIN,NaN,2010-01-03,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN

### Checking Columns for Missing Values

In [3]:
# df[df.isna()]  # check if specific column has any missing value
# df.isna().any().sum()     # number of columns that contains missing values = 202

len(df.columns[df.notna().all()].tolist()) + len(df.columns[df.isna().any()].tolist())

256

### Delete Columns That Consists of fully missing values

In [4]:
df.dropna(axis=1, how='all', inplace=True)  # delete columns that have all missing values
df

,play_id,game_id,home_team,away_team,posteam,posteam_type,defteam,side_of_field,yardline_100,game_date,...,penalty_player_id,penalty_player_name,penalty_yards,replay_or_challenge,replay_or_challenge_result,penalty_type,defensive_two_point_attempt,defensive_two_point_conv,defensive_extra_point_attempt,defensive_extra_point_conv
0,46,2009091000,PIT,TEN,PIT,home,TEN,TEN,30.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
1,68,2009091000,PIT,TEN,PIT,home,TEN,PIT,58.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
2,92,2009091000,PIT,TEN,PIT,home,TEN,PIT,53.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
3,113,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
4,139,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44591,3669,2010010308,NYJ,CIN,CIN,away,NYJ,NYJ,26.0,2010-01-03,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
44592,3704,2010010308,NYJ,CIN,NYJ,home,CIN,CIN,28.0,2010-01-03,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
44593,3725,2010010308,NYJ,CIN,NYJ,home,CIN,CIN,29.0,2010-01-03,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
44594,3747,2010010308,NYJ,CIN,NYJ,home,CIN,CIN,30.0,2010-01-03,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
44595,3768,2010010308,NYJ,CIN,NaN,NaN,NaN,CIN,NaN,2010-01-03,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN

## Drop Features That contains more than 60% of missing values

In [5]:
# getting the columns list
columns = df.columns

# building a dictionary that consists of columns corresponding to its percentage of missing values 
columns_missing_ratio = {}

for column in columns:
    columns_missing_ratio[column] = (df[column].isna().sum() / df.shape[0]).round(2)

columns_missing_ratio

{'play_id': 0.0,
 'game_id': 0.0,
 'home_team': 0.0,
 'away_team': 0.0,
 'posteam': 0.03,
 'posteam_type': 0.03,
 'defteam': 0.03,
 'side_of_field': 0.0,
 'yardline_100': 0.03,
 'game_date': 0.0,
 'quarter_seconds_remaining': 0.0,
 'half_seconds_remaining': 0.0,
 'game_seconds_remaining': 0.0,
 'game_half': 0.0,
 'quarter_end': 0.0,
 'drive': 0.0,
 'sp': 0.0,
 'qtr': 0.0,
 'down': 0.15,
 'goal_to_go': 0.03,
 'time': 0.0,
 'yrdln': 0.0,
 'ydstogo': 0.0,
 'ydsnet': 0.0,
 'desc': 0.0,
 'play_type': 0.03,
 'yards_gained': 0.0,
 'shotgun': 0.0,
 'no_huddle': 0.0,
 'qb_dropback': 0.03,
 'qb_kneel': 0.0,
 'qb_spike': 0.0,
 'qb_scramble': 0.0,
 'pass_length': 0.62,
 'pass_location': 0.62,
 'air_yards': 0.62,
 'yards_after_catch': 0.77,
 'run_location': 0.7,
 'run_gap': 0.78,
 'field_goal_result': 0.98,
 'kick_distance': 0.87,
 'extra_point_result': 0.98,
 'two_point_conv_result': 1.0,
 'home_timeouts_remaining': 0.0,
 'away_timeouts_remaining': 0.0,
 'timeout': 0.03,
 'timeout_team': 0.96,
 'td_team': 0.97,
 'posteam_timeouts_remaining': 0.03,
 'defteam_timeouts_remaining': 0.03,
 'total_home_score': 0.0,
 'total_away_score': 0.0,
 'posteam_score': 0.04,
 'defteam_score': 0.04,
 'score_differential': 0.04,
 'posteam_score_post': 0.03,
 'defteam_score_post': 0.03,
 'score_differential_post': 0.03,
 'no_score_prob': 0.0,
 'opp_fg_prob': 0.0,
 'opp_safety_prob': 0.0,
 'opp_td_prob': 0.0,
 'fg_prob': 0.0,
 'safety_prob': 0.0,
 'td_prob': 0.0,
 'extra_point_prob': 0.0,
 'two_point_conversion_prob': 0.0,
 'ep': 0.03,
 'epa': 0.04,
 'total_home_epa': 0.0,
 'total_away_epa': 0.0,
 'total_home_rush_epa': 0.0,
 'total_away_rush_epa': 0.0,
 'total_home_pass_epa': 0.0,
 'total_away_pass_epa': 0.0,
 'air_epa': 0.62,
 'yac_epa': 0.62,
 'comp_air_epa': 0.03,
 'comp_yac_epa': 0.03,
 'total_home_comp_air_epa': 0.0,
 'total_away_comp_air_epa': 0.0,
 'total_home_comp_yac_epa': 0.0,
 'total_away_comp_yac_epa': 0.0,
 'total_home_raw_air_epa': 0.0,
 'total_away_raw_air_epa': 0.0,
 'total_home_raw_yac_epa': 0.0,
 'total_away_raw_yac_epa': 0.0,
 'wp': 0.04,
 'def_wp': 0.04,
 'home_wp': 0.04,
 'away_wp': 0.04,
 'wpa': 0.01,
 'home_wp_post': 0.04,
 'away_wp_post': 0.04,
 'total_home_rush_wpa': 0.0,
 'total_away_rush_wpa': 0.0,
 'total_home_pass_wpa': 0.0,
 'total_away_pass_wpa': 0.0,
 'air_wpa': 0.62,
 'yac_wpa': 0.62,
 'comp_air_wpa': 0.03,
 'comp_yac_wpa': 0.03,
 'total_home_comp_air_wpa': 0.0,
 'total_away_comp_air_wpa': 0.0,
 'total_home_comp_yac_wpa': 0.0,
 'total_away_comp_yac_wpa': 0.0,
 'total_home_raw_air_wpa': 0.0,
 'total_away_raw_air_wpa': 0.0,
 'total_home_raw_yac_wpa': 0.0,
 'total_away_raw_yac_wpa': 0.0,
 'punt_blocked': 0.03,
 'first_down_rush': 0.03,
 'first_down_pass': 0.03,
 'first_down_penalty': 0.03,
 'third_down_converted': 0.03,
 'third_down_failed': 0.03,
 'fourth_down_converted': 0.03,
 'fourth_down_failed': 0.03,
 'incomplete_pass': 0.03,
 'touchback': 0.0,
 'interception': 0.03,
 'punt_inside_twenty': 0.03,
 'punt_in_endzone': 0.03,
 'punt_out_of_bounds': 0.03,
 'punt_downed': 0.03,
 'punt_fair_catch': 0.03,
 'kickoff_inside_twenty': 0.03,
 'kickoff_in_endzone': 0.03,
 'kickoff_out_of_bounds': 0.03,
 'kickoff_downed': 0.03,
 'kickoff_fair_catch': 0.03,
 'fumble_forced': 0.03,
 'fumble_not_forced': 0.03,
 'fumble_out_of_bounds': 0.03,
 'solo_tackle': 0.03,
 'safety': 0.03,
 'penalty': 0.03,
 'tackled_for_loss': 0.03,
 'fumble_lost': 0.03,
 'own_kickoff_recovery': 0.03,
 'own_kickoff_recovery_td': 0.03,
 'qb_hit': 0.03,
 'rush_attempt': 0.03,
 'pass_attempt': 0.03,
 'sack': 0.03,
 'touchdown': 0.03,
 'pass_touchdown': 0.03,
 'rush_touchdown': 0.03,
 'return_touchdown': 0.03,
 'extra_point_attempt': 0.03,
 'two_point_attempt': 0.03,
 'field_goal_attempt': 0.03,
 'kickoff_attempt': 0.03,
 'punt_attempt': 0.03,
 'fumble': 0.03,
 'complete_pass': 0.03,
 'assist_tackle': 0.03,
 'lateral_reception': 0.03,
 'lateral_rush': 0.03,
 'lateral_return': 0.03,
 'lateral_recovery': 0.03,
 'passer_player_id': 0.59,
 'passer_player_name': 0.59,
 'receiver_player_id': 0.62,
 'receiver_player_name': 0.62,
 'rusher_player_id': 0.68,
 'rusher_player_name': 0.68,
 'lateral_receiver_player_id': 1.0,
 'lateral_receiver_player_name': 1.0,
 'interception_player_id': 0.99,
 'interception_player_name': 0.99,
 'lateral_interception_player_id': 1.0,
 'lateral_interception_player_name': 1.0,
 'punt_returner_player_id': 0.96,
 'punt_returner_player_name': 0.96,
 'lateral_punt_returner_player_id': 1.0,
 'lateral_punt_returner_player_name': 1.0,
 'kickoff_returner_player_name': 0.95,
 'kickoff_returner_player_id': 0.95,
 'lateral_kickoff_returner_player_id': 1.0,
 'lateral_kickoff_returner_player_name': 1.0,
 'punter_player_id': 0.95,
 'punter_player_name': 0.95,
 'kicker_player_name': 0.9,
 'kicker_player_id': 0.9,
 'own_kickoff_recovery_player_id': 1.0,
 'own_kickoff_recovery_player_name': 1.0,
 'blocked_player_id': 1.0,
 'blocked_player_name': 1.0,
 'tackle_for_loss_1_player_id': 0.95,
 'tackle_for_loss_1_player_name': 0.95,
 'qb_hit_1_player_id': 0.95,
 'qb_hit_1_player_name': 0.95,
 'qb_hit_2_player_id': 1.0,
 'qb_hit_2_player_name': 1.0,
 'forced_fumble_player_1_team': 0.99,
 'forced_fumble_player_1_player_id': 0.99,
 'forced_fumble_player_1_player_name': 0.99,
 'forced_fumble_player_2_team': 1.0,
 'forced_fumble_player_2_player_id': 1.0,
 'forced_fumble_player_2_player_name': 1.0,
 'solo_tackle_1_team': 0.53,
 'solo_tackle_2_team': 0.99,
 'solo_tackle_1_player_id': 0.53,
 'solo_tackle_2_player_id': 0.99,
 'solo_tackle_1_player_name': 0.53,
 'solo_tackle_2_player_name': 0.99,
 'assist_tackle_1_player_id': 0.86,
 'assist_tackle_1_player_name': 0.86,
 'assist_tackle_1_team': 0.86,
 'assist_tackle_2_player_id': 0.86,
 'assist_tackle_2_player_name': 0.86,
 'assist_tackle_2_team': 0.86,
 'pass_defense_1_player_id': 0.95,
 'pass_defense_1_player_name': 0.95,
 'pass_defense_2_player_id': 1.0,
 'pass_defense_2_player_name': 1.0,
 'fumbled_1_team': 0.98,
 'fumbled_1_player_id': 0.98,
 'fumbled_1_player_name': 0.98,
 'fumbled_2_player_id': 1.0,
 'fumbled_2_player_name': 1.0,
 'fumbled_2_team': 1.0,
 'fumble_recovery_1_team': 0.99,
 'fumble_recovery_1_yards': 0.99,
 'fumble_recovery_1_player_id': 0.99,
 'fumble_recovery_1_player_name': 0.99,
 'fumble_recovery_2_team': 1.0,
 'fumble_recovery_2_yards': 1.0,
 'fumble_recovery_2_player_id': 1.0,
 'fumble_recovery_2_player_name': 1.0,
 'return_team': 0.92,
 'return_yards': 0.0,
 'penalty_team': 0.93,
 'penalty_player_id': 0.93,
 'penalty_player_name': 0.93,
 'penalty_yards': 0.93,
 'replay_or_challenge': 0.0,
 'replay_or_challenge_result': 0.99,
 'penalty_type': 0.94,
 'defensive_two_point_attempt': 0.03,
 'defensive_two_point_conv': 0.03,
 'defensive_extra_point_attempt': 0.03,
 'defensive_extra_point_conv': 0.03}

In [6]:
for feature, value in columns_missing_ratio.items():
    if value >= 0.6:
        df.drop(feature, axis=1, inplace=True)
        
df

,play_id,game_id,home_team,away_team,posteam,posteam_type,defteam,side_of_field,yardline_100,game_date,...,passer_player_name,solo_tackle_1_team,solo_tackle_1_player_id,solo_tackle_1_player_name,return_yards,replay_or_challenge,defensive_two_point_attempt,defensive_two_point_conv,defensive_extra_point_attempt,defensive_extra_point_conv
0,46,2009091000,PIT,TEN,PIT,home,TEN,TEN,30.0,2009-09-10,...,NaN,TEN,00-0025406,M.Griffin,39,0,0.0,0.0,0.0,0.0
1,68,2009091000,PIT,TEN,PIT,home,TEN,PIT,58.0,2009-09-10,...,B.Roethlisberger,TEN,00-0021219,C.Hope,0,0,0.0,0.0,0.0,0.0
2,92,2009091000,PIT,TEN,PIT,home,TEN,PIT,53.0,2009-09-10,...,NaN,TEN,00-0024331,S.Tulloch,0,0,0.0,0.0,0.0,0.0
3,113,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,B.Roethlisberger,NaN,NaN,NaN,0,0,0.0,0.0,0.0,0.0
4,139,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,NaN,NaN,NaN,NaN,0,0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44591,3669,2010010308,NYJ,CIN,CIN,away,NYJ,NYJ,26.0,2010-01-03,...,J.O'Sullivan,NYJ,00-0025753,J.Ihedigbo,0,0,0.0,0.0,0.0,0.0
44592,3704,2010010308,NYJ,CIN,NYJ,home,CIN,CIN,28.0,2010-01-03,...,NaN,NaN,NaN,NaN,0,0,0.0,0.0,0.0,0.0
44593,3725,2010010308,NYJ,CIN,NYJ,home,CIN,CIN,29.0,2010-01-03,...,NaN,NaN,NaN,NaN,0,0,0.0,0.0,0.0,0.0
44594,3747,2010010308,NYJ,CIN,NYJ,home,CIN,CIN,30.0,2010-01-03,...,NaN,NaN,NaN,NaN,0,0,0.0,0.0,0.0,0.0
44595,3768,2010010308,NYJ,CIN,NaN,NaN,NaN,CIN,NaN,2010-01-03,...,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN

### Delete Rows with higher percentage of missing values
- Drop rows that have more than 50% of missing

In [7]:
df['missing_precentage'] = (df.isna().sum(axis=1) / df.shape[1]).round(2)
df

,play_id,game_id,home_team,away_team,posteam,posteam_type,defteam,side_of_field,yardline_100,game_date,...,solo_tackle_1_team,solo_tackle_1_player_id,solo_tackle_1_player_name,return_yards,replay_or_challenge,defensive_two_point_attempt,defensive_two_point_conv,defensive_extra_point_attempt,defensive_extra_point_conv,missing_precentage
0,46,2009091000,PIT,TEN,PIT,home,TEN,TEN,30.0,2009-09-10,...,TEN,00-0025406,M.Griffin,39,0,0.0,0.0,0.0,0.0,0.08
1,68,2009091000,PIT,TEN,PIT,home,TEN,PIT,58.0,2009-09-10,...,TEN,00-0021219,C.Hope,0,0,0.0,0.0,0.0,0.0,0.00
2,92,2009091000,PIT,TEN,PIT,home,TEN,PIT,53.0,2009-09-10,...,TEN,00-0024331,S.Tulloch,0,0,0.0,0.0,0.0,0.0,0.01
3,113,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,NaN,NaN,NaN,0,0,0.0,0.0,0.0,0.0,0.02
4,139,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,NaN,NaN,NaN,0,0,0.0,0.0,0.0,0.0,0.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44591,3669,2010010308,NYJ,CIN,CIN,away,NYJ,NYJ,26.0,2010-01-03,...,NYJ,00-0025753,J.Ihedigbo,0,0,0.0,0.0,0.0,0.0,0.00
44592,3704,2010010308,NYJ,CIN,NYJ,home,CIN,CIN,28.0,2010-01-03,...,NaN,NaN,NaN,0,0,0.0,0.0,0.0,0.0,0.03
44593,3725,2010010308,NYJ,CIN,NYJ,home,CIN,CIN,29.0,2010-01-03,...,NaN,NaN,NaN,0,0,0.0,0.0,0.0,0.0,0.03
44594,3747,2010010308,NYJ,CIN,NYJ,home,CIN,CIN,30.0,2010-01-03,...,NaN,NaN,NaN,0,0,0.0,0.0,0.0,0.0,0.04
44595,3768,2010010308,NYJ,CIN,NaN,NaN,NaN,CIN,NaN,2010-01-03,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,0.54

In [8]:
df.drop(df[df['missing_precentage'] >= 0.5].index, axis='rows', inplace=True)
df

,play_id,game_id,home_team,away_team,posteam,posteam_type,defteam,side_of_field,yardline_100,game_date,...,solo_tackle_1_team,solo_tackle_1_player_id,solo_tackle_1_player_name,return_yards,replay_or_challenge,defensive_two_point_attempt,defensive_two_point_conv,defensive_extra_point_attempt,defensive_extra_point_conv,missing_precentage
0,46,2009091000,PIT,TEN,PIT,home,TEN,TEN,30.0,2009-09-10,...,TEN,00-0025406,M.Griffin,39,0,0.0,0.0,0.0,0.0,0.08
1,68,2009091000,PIT,TEN,PIT,home,TEN,PIT,58.0,2009-09-10,...,TEN,00-0021219,C.Hope,0,0,0.0,0.0,0.0,0.0,0.00
2,92,2009091000,PIT,TEN,PIT,home,TEN,PIT,53.0,2009-09-10,...,TEN,00-0024331,S.Tulloch,0,0,0.0,0.0,0.0,0.0,0.01
3,113,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,NaN,NaN,NaN,0,0,0.0,0.0,0.0,0.0,0.02
4,139,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,NaN,NaN,NaN,0,0,0.0,0.0,0.0,0.0,0.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44589,3631,2010010308,NYJ,CIN,CIN,away,NYJ,NYJ,24.0,2010-01-03,...,NaN,NaN,NaN,0,0,0.0,0.0,0.0,0.0,0.03
44591,3669,2010010308,NYJ,CIN,CIN,away,NYJ,NYJ,26.0,2010-01-03,...,NYJ,00-0025753,J.Ihedigbo,0,0,0.0,0.0,0.0,0.0,0.00
44592,3704,2010010308,NYJ,CIN,NYJ,home,CIN,CIN,28.0,2010-01-03,...,NaN,NaN,NaN,0,0,0.0,0.0,0.0,0.0,0.03
44593,3725,2010010308,NYJ,CIN,NYJ,home,CIN,CIN,29.0,2010-01-03,...,NaN,NaN,NaN,0,0,0.0,0.0,0.0,0.0,0.03
44594,3747,2010010308,NYJ,CIN,NYJ,home,CIN,CIN,30.0,2010-01-03,...,NaN,NaN,NaN,0,0,0.0,0.0,0.0,0.0,0.04

### Filling missing values in `posteam` & any Column of type string with the mode of this Feature

In [9]:
mode_of_posteam = df['posteam'].value_counts(ascending=False).index[0]
df['posteam'].fillna(mode_of_posteam, inplace=True)

In [10]:
df['posteam'].isna().any() # check if there is any missing in this column

False

In [11]:
# getting column that contains a missing value and theire type is string
missing_columns = df.columns[df.isna().any()]
# len(missing_columns) + len(df.columns[df.notna().all()])
missing_columns

Index(['posteam_type', 'defteam', 'side_of_field', 'yardline_100', 'down',
       'goal_to_go', 'yrdln', 'posteam_timeouts_remaining',
       'defteam_timeouts_remaining', 'posteam_score', 'defteam_score',
       'score_differential', 'posteam_score_post', 'defteam_score_post',
       'score_differential_post', 'no_score_prob', 'opp_fg_prob',
       'opp_safety_prob', 'opp_td_prob', 'fg_prob', 'safety_prob', 'td_prob',
       'ep', 'epa', 'comp_air_epa', 'comp_yac_epa', 'wp', 'def_wp', 'home_wp',
       'away_wp', 'wpa', 'home_wp_post', 'away_wp_post', 'comp_air_wpa',
       'comp_yac_wpa', 'passer_player_id', 'passer_player_name',
       'solo_tackle_1_team', 'solo_tackle_1_player_id',
       'solo_tackle_1_player_name'],
      dtype='object')

In [12]:
for column in missing_columns:
    if df[column].dtype == object:
        mode = df[column].value_counts(ascending=False).index[0]
        df[column].fillna(mode, inplace=True)

In [13]:
df.isna().any().sum()

31

In [14]:
df['passer_player_name'].dtype == object    # nice

True

In [15]:
df

,play_id,game_id,home_team,away_team,posteam,posteam_type,defteam,side_of_field,yardline_100,game_date,...,solo_tackle_1_team,solo_tackle_1_player_id,solo_tackle_1_player_name,return_yards,replay_or_challenge,defensive_two_point_attempt,defensive_two_point_conv,defensive_extra_point_attempt,defensive_extra_point_conv,missing_precentage
0,46,2009091000,PIT,TEN,PIT,home,TEN,TEN,30.0,2009-09-10,...,TEN,00-0025406,M.Griffin,39,0,0.0,0.0,0.0,0.0,0.08
1,68,2009091000,PIT,TEN,PIT,home,TEN,PIT,58.0,2009-09-10,...,TEN,00-0021219,C.Hope,0,0,0.0,0.0,0.0,0.0,0.00
2,92,2009091000,PIT,TEN,PIT,home,TEN,PIT,53.0,2009-09-10,...,TEN,00-0024331,S.Tulloch,0,0,0.0,0.0,0.0,0.0,0.01
3,113,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,STL,00-0025398,D.Williams,0,0,0.0,0.0,0.0,0.0,0.02
4,139,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,STL,00-0025398,D.Williams,0,0,0.0,0.0,0.0,0.0,0.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44589,3631,2010010308,NYJ,CIN,CIN,away,NYJ,NYJ,24.0,2010-01-03,...,STL,00-0025398,D.Williams,0,0,0.0,0.0,0.0,0.0,0.03
44591,3669,2010010308,NYJ,CIN,CIN,away,NYJ,NYJ,26.0,2010-01-03,...,NYJ,00-0025753,J.Ihedigbo,0,0,0.0,0.0,0.0,0.0,0.00
44592,3704,2010010308,NYJ,CIN,NYJ,home,CIN,CIN,28.0,2010-01-03,...,STL,00-0025398,D.Williams,0,0,0.0,0.0,0.0,0.0,0.03
44593,3725,2010010308,NYJ,CIN,NYJ,home,CIN,CIN,29.0,2010-01-03,...,STL,00-0025398,D.Williams,0,0,0.0,0.0,0.0,0.0,0.03
44594,3747,2010010308,NYJ,CIN,NYJ,home,CIN,CIN,30.0,2010-01-03,...,STL,00-0025398,D.Williams,0,0,0.0,0.0,0.0,0.0,0.04

In [16]:
df.columns[df.isna().any()]

Index(['yardline_100', 'down', 'goal_to_go', 'posteam_timeouts_remaining',
       'defteam_timeouts_remaining', 'posteam_score', 'defteam_score',
       'score_differential', 'posteam_score_post', 'defteam_score_post',
       'score_differential_post', 'no_score_prob', 'opp_fg_prob',
       'opp_safety_prob', 'opp_td_prob', 'fg_prob', 'safety_prob', 'td_prob',
       'ep', 'epa', 'comp_air_epa', 'comp_yac_epa', 'wp', 'def_wp', 'home_wp',
       'away_wp', 'wpa', 'home_wp_post', 'away_wp_post', 'comp_air_wpa',
       'comp_yac_wpa'],
      dtype='object')

In [17]:
df['posteam_score']

0         NaN
1         0.0
2         0.0
3         0.0
4         0.0
         ...
44589     0.0
44591     0.0
44592    37.0
44593    37.0
44594    37.0
Name: posteam_score, Length: 43084, dtype: float64

In [18]:
missing_columns = df.columns[df.isna().any()]

for column in missing_columns:
    if (('score' in column) and(df[column].dtype == float)):
        df[column].fillna(0, inplace=True)

In [19]:
len(missing_columns)

31

In [20]:
len(df.columns[df.isna().any()])

24

In [21]:
df

,play_id,game_id,home_team,away_team,posteam,posteam_type,defteam,side_of_field,yardline_100,game_date,...,solo_tackle_1_team,solo_tackle_1_player_id,solo_tackle_1_player_name,return_yards,replay_or_challenge,defensive_two_point_attempt,defensive_two_point_conv,defensive_extra_point_attempt,defensive_extra_point_conv,missing_precentage
0,46,2009091000,PIT,TEN,PIT,home,TEN,TEN,30.0,2009-09-10,...,TEN,00-0025406,M.Griffin,39,0,0.0,0.0,0.0,0.0,0.08
1,68,2009091000,PIT,TEN,PIT,home,TEN,PIT,58.0,2009-09-10,...,TEN,00-0021219,C.Hope,0,0,0.0,0.0,0.0,0.0,0.00
2,92,2009091000,PIT,TEN,PIT,home,TEN,PIT,53.0,2009-09-10,...,TEN,00-0024331,S.Tulloch,0,0,0.0,0.0,0.0,0.0,0.01
3,113,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,STL,00-0025398,D.Williams,0,0,0.0,0.0,0.0,0.0,0.02
4,139,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,STL,00-0025398,D.Williams,0,0,0.0,0.0,0.0,0.0,0.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44589,3631,2010010308,NYJ,CIN,CIN,away,NYJ,NYJ,24.0,2010-01-03,...,STL,00-0025398,D.Williams,0,0,0.0,0.0,0.0,0.0,0.03
44591,3669,2010010308,NYJ,CIN,CIN,away,NYJ,NYJ,26.0,2010-01-03,...,NYJ,00-0025753,J.Ihedigbo,0,0,0.0,0.0,0.0,0.0,0.00
44592,3704,2010010308,NYJ,CIN,NYJ,home,CIN,CIN,28.0,2010-01-03,...,STL,00-0025398,D.Williams,0,0,0.0,0.0,0.0,0.0,0.03
44593,3725,2010010308,NYJ,CIN,NYJ,home,CIN,CIN,29.0,2010-01-03,...,STL,00-0025398,D.Williams,0,0,0.0,0.0,0.0,0.0,0.03
44594,3747,2010010308,NYJ,CIN,NYJ,home,CIN,CIN,30.0,2010-01-03,...,STL,00-0025398,D.Williams,0,0,0.0,0.0,0.0,0.0,0.04

In [55]:
columns_with_missing = []

for column in df.columns[df.isna().any()]:
    if df[column].dtype == float:
        columns_with_missing.append(column)
        
columns_with_missing

['yardline_100',
 'down',
 'goal_to_go',
 'defteam_timeouts_remaining',
 'fg_prob',
 'safety_prob',
 'td_prob',
 'ep',
 'epa',
 'comp_air_epa',
 'comp_yac_epa',
 'wp',
 'def_wp',
 'home_wp',
 'away_wp',
 'wpa',
 'home_wp_post',
 'away_wp_post',
 'comp_air_wpa',
 'comp_yac_wpa']

In [23]:
 df[['posteam_timeouts_remaining', 'defteam_timeouts_remaining']]

       posteam_timeouts_remaining  defteam_timeouts_remaining
0                             3.0                         3.0
1                             3.0                         3.0
2                             3.0                         3.0
3                             3.0                         3.0
4                             3.0                         3.0
...                           ...                         ...
44589                         2.0                         3.0
44591                         2.0                         3.0
44592                         3.0                         2.0
44593                         3.0                         2.0
44594                         3.0                         2.0

[43084 rows x 2 columns]

In [24]:
(df['posteam_timeouts_remaining'] == 0).any()

True

In [25]:
df['posteam_timeouts_remaining'] = df['posteam_timeouts_remaining'].fillna(method='ffill').fillna(method='bfill')

In [26]:
df['posteam_timeouts_remaining'].isna().any()

False

In [27]:
# df['posteam_timeouts_remaining'][0] = np.nan

In [39]:
len(df.columns[df.isna().any()])

23

In [53]:

mean_dict = {
    'opp_fg_prob': df['opp_fg_prob'].mean(),
    'opp_safety_prob': df['opp_safety_prob'].mean(),
    'opp_td_prob' : df['opp_td_prob'].mean() 
}

df[['opp_fg_prob','opp_safety_prob','opp_td_prob']] = df[['opp_fg_prob','opp_safety_prob','opp_td_prob']].interpolate(method='linear', limit_direction='forward').fillna(mean_dict)

In [54]:
df[['opp_fg_prob','opp_safety_prob','opp_td_prob']].isna().any()

opp_fg_prob        False
opp_safety_prob    False
opp_td_prob        False
dtype: bool

In [97]:

comp_columns = []

for column in columns_with_missing:
    if 'comp_' in column:
        comp_columns.append(column)

df[comp_columns] = df[comp_columns].interpolate(method='linear', limit_direction='forward').fillna(df[comp_columns].mean().to_dict())

# df[comp_columns].fillna(mean_dict, inplace=True)
df[comp_columns].isna().any()

comp_air_epa    False
comp_yac_epa    False
comp_air_wpa    False
comp_yac_wpa    False
dtype: bool

In [101]:


data = {
    'first': [1,np.nan,3],
    'second': [4,5,6],
    'third': [7,8,9],
}

data_df = pd.DataFrame(data)
data_df

   first  second  third
0    1.0       4      7
1    NaN       5      8
2    3.0       6      9

In [105]:
data_df['first'] = data_df['first'].fillna(data_df['first'].mean())

In [106]:
data_df

   first  second  third
0    1.0       4      7
1    2.0       5      8
2    3.0       6      9