**Import Libraries**

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## create a DataFrame

**Using head to see top rows**

In [ ]:
# check shape

## Detecting missing values

## a values in Panada DataFrame that is `NaN` represents missing values

In [ ]:
# test if a values is missing in all columns
# isna() returns True if the value of the cell NaN. False if the value is not missing

In [ ]:
# test if a values is missing in all columns
# notna() returns False if the value of the cell NaN. True if the value is not missing

In [ ]:
# test if any value of every column is NaN
# any() return True if any value of the column is True

In [ ]:
# if any of the values is True then `any` returns True
# if all of the values are False then `any` returns False

# Filtering data with missing values

In [ ]:
# get data with NO null

In [ ]:
# get data with NO null

## drop rows with `NaN`

## drop columns with `NaN`

## drop if all values of rows/columns are `NaN`

## compute percentage of  `NaN` in every column

## Fill missing values with constant

# note that fillna doesn't change the object. it returns a new dataframe/series with the updated filled values

## you can use the `inplace` command to update the same dataframe.

In [ ]:
# data_df.fillna(-1, inplace=True)
# this will mutate the data_df

## fill by previous/next value

In [ ]:
# fill by using previous value. Forward filling
# notice that the first value cannot be handled using this method as 
# there is no previous value for it

In [ ]:
# fill by using next value. Backward filling
# notice that the last value cannot be handled using this method as 
# there is no next value to it

## handle missing values for columns differently

## Fill missing values using interpolation

## Fill missing values by the mean

In [ ]:
# the mean will compute the missing.
# it doesn't consider `NaN` values

## fill missing with most frequent

In [ ]:
# get the mode of evey column
df.mode()

  species  legs  wings
0    bird     2    2.0

## note the the mode is a DataFrame

In [ ]:
# we need to take the last row of the mode DataFrame to fill missing values

# Fill missing values using advance techniques
# k-NN algorithm

In [ ]:
#knn k-nearest neighbor

In [ ]:
from sklearn.impute import KNNImputer

In [ ]:
model = KNNImputer(n_neighbors=1)

In [ ]:
model.fit_transform(df)

array([[1., 5., 3.],
       [2., 8., 0.],
       [1., 5., 3.],
       [2., 8., 0.]])

In [ ]:
type(model.fit_transform(df))

numpy.ndarray

In [ ]:
model.fit_transform(df).shape

(4, 3)